// Developer.xcconfig

// Your Apple developer account's Team ID.
DEVELOPMENT_TEAM = <team_id>

// Create these App IDs at developer.apple.com with the Network Extensions capability.
APP_ID_IOS = com.gnet.wireroute
APP_ID_MACOS = <mac_app_id>
